- var site_name = 'Site Name'
- var page_title = ''
- var unsplash = 'https://source.unsplash.com'
- var page_type = ''

include mixins
block vars

doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title= (page_title ? page_title + ' :: ' : '') + site_name

  body(class=page_type+' home')
    include patials/header
    main#main.body-wrapper(role='main')
      block content
    include patials/footer
    include patials/scripts
