// defaults
$cell: '.cell';
$grid: '.grid-x';

// triggers
$animated: '.is-animated';
$active: '.is-active';
$disabled: '.is-disabled';
$hidden: '.is-hidden';
$current: '.is-current';
$loading: '.is-loading';
$loaded: '.is-loaded';
$invalid: '.is-invalid';
$valid: '.is-valid';
$hovered: '.is-hovered';
$accent: '.is-accent';

// modals
$has-modal: '.has-modal';
$has-cookies: '.has-cookies';
$has-preloader: '.has-preloader';

// header-nav
$menu-opened: '.menu-opened';
$menu-trigger: '[data-role="menu-trigger"]'
